.photo-grid__item {
    margin: 0;
    padding: 0;
    max-width: 284px;
}

@media screen and (max-width: 1188px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 885px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 586px) {
    .photo-grid__item {
        max-width: 288px;
    }
    
}