.header {
    max-width: 100vw;
    height: 52px;
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        height: 52px;
        margin: 28px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 52px;
        margin: 28px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 42px;
        margin: 16px 16px 0;
    }
}

