.footer {
    margin: 92px auto 0;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 48px;
        margin-right: 48px;

    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 657px) {
    .footer {
        margin: 64px 118px 0 16px; 
        padding-bottom: 24px;
        max-width: 186px;
        min-height: 310px;
        flex-direction: column;
    }
}